body {background-color: lightblue;}

.ASU {
  position: relative;
}

.bottom-left {
	position: relative;
    bottom: 30px;
    right: -130px;
    color: black;
    font-weight: bold;
}

.img {
	width: 100%;
	height: auto;
	opacity: 0.3;
	}

a:hover {color:red}
